{% extends "::base.html.twig" %}

{% block title %}창업지원{% endblock %}
{% block stylesheets %}
    {% if isMobile == false %}
      <link rel="stylesheet" href="{{asset('bundles/support/css/common.css')}}"/>
        {% if getControllerName() == "mainpage" %}
             <link rel="stylesheet" href="{{asset('bundles/support/css/main.css')}}" />
        {% elseif getControllerName() == "product"%}
            {% if getActionName() != "detail" %}
                <link rel="stylesheet" href="{{asset('bundles/support/css/main.css')}}" />
            {% endif %}
        {% endif %}      
    {% else %}
      <link rel="stylesheet" href="{{asset('bundles/support/css/mobile.common.css')}}"/>        
    {% endif %}
<style type='text/css'>
    @font-face{
	font-family: "Nanum Gothic";
	src: url('{{asset("bundles/support/css/fonts/NanumGothic.eot")}}');
	src: url('{{asset("bundles/support/css/fonts/NanumGothic.eot?#iefix")}}') format('embedded-opentype'),
	url('{{asset("bundles/support/css/fonts/NanumGothic.woff")}}') format('woff'),
	url('{{asset("bundles/support/css/fonts/NanumGothic.ttf")}}') format('truetype');
	url('{{asset("bundles/support/css/fonts/NanumGothic.svg#NanumGothic")}}') format('svg')
	src: local(※), url('{{asset("bundles/support/css/fonts/NanumGothic.woff")}}') format('woff');
}
</style>
{% endblock %}

{% block body %}
    <header></header>
    <div id="content" class="policy_content">
        {% block content%}
                    <a href="{{url('main_index')}}">
{#                      {% if isApp == false and isMobile == true %}
                          <div class="policy_logo center logo-banner float-left" style= "background-image: url({{asset('bundles/support/image/logo_banner_2.png')}})"></div>
                      {% else %}#}
                          <div class="policy_logo logo-banner" style= "background-image: url({{asset('bundles/support/image/logo_banner_2.png')}})"></div>
{#                      {% endif %}#}
                     </a>            
            <div class="contents float-left policy_contents">
                {% block contents %}
                     <br/>
                    {{form_start(form)}}
                    <div class="program_box">
                        {% include "SupportFrontBundle:Login:policy_text.html.twig" %}
                        <span class="bold policy_title">주의사항</span>
                        <div class="policy_box">
                            스타트업서포터는 사용자분들이 참고할 수 있도록 다양한 사업들을 소개하고 있습니다.
                            <br>해당 사업이 변경되었을 경우 곧바로 변경되지 않거나 해당사항이 다를 수 있사오니 <strong>반드시 해당 사업의 사이트와 공지글을 확인하여 주시기 바랍니다.</strong> 
                        </div>

                    {{form_start(form)}}
                    {{form_widget(form)}}
                    {{form_end(form, {'action': path('user_agree', {'id' : id}), 'method': 'POST'})}}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}    
    </div>
        {% block footer %}
            <div class="footer center">
           {% include "SupportFrontBundle::footer.html.twig" %}
           </div>
        {% endblock %}        
{% endblock %}


{% block javascripts %}
    <script src="{{asset('/bundles/support/js/jquery-2.1.4.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript" src="{{asset("bundles/support/js/common.js")}}"></script>    
{% endblock %}